*{ 
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}
ol, ul {
    list-style: none;
}
.px-130{
padding: 130px 0;
}
.wh-50{
    width:50px;
    height:50px;
}
.upper-first:first-letter{
    text-transform: uppercase;
}
.err:first-letter{
    text-transform: uppercase;
}